{% extends "bootstrap_base.html" %}
{% load static %}

{% block title %}
Price Personalization
{% endblock %}

{% block page_js %}
  <script type="text/javascript" src="{% static 'personalization/price.js' %}?ver=2"></script>
  <script type="text/javascript" src="{% static 'personalization/Chart.js' %}"></script>
  <link rel="stylesheet" media="all" type="text/css" href="{% static 'personalization/price.css' %}?ver=2" />
{% endblock %}

{% block content %}
	<!-- Button trigger modal -->
    <div id="menu">
    	<span id="menuArrow" class="glyphicon glyphicon-minus-sign" aria-hidden="true" onclick="toggleMenu()"></span>
        
        <div id="selectContainer" style="position:absolute; top:16px; left:190px">
            <select onchange="setGraphMode(this.value)">
                <option value="diff">Sort by Price Difference</option>
                <option value="rank">Sort by Expedia Rank</option>
            </select>
        </div>
        
    	<div id="buttonContainer" style="position:relative; top:8px; left:40px;"
            <button type="button" id="detailsButton" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
              Enter Details
            </button>
        </div>
    </div>
    
	<div class="col-xs-12 graphContainer">
        <div id="subContainer">
            <canvas id="compGraph"></canvas>
        </div>
        
        <table>
        	
        </table>
    
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Detail entry</h4>
          </div>
          <div class="modal-body">
             
            <div class="col-xs-12">
            <form id="expediaForm" method="GET" action="{% url soclab.personalization.views.getExpediaHash %}">
            <div class="row">
            <div class="col-sm-3">Search Engine:</div>
            <div class="col-sm-6">
            <select>
            <option>Expedia Hotel Search</option><br>
            </select>
            </div>
            </div>
            
            <div class="row"><div class="col-sm-3">Destination:</div>
            <div class="col-sm-6"><input type="text" name="destination"/></div></div>
            
            <div class="row"><div class="col-sm-3">Check In:</div>
            <div class="col-sm-6"><input type="text" id="startDate" class="dateTime" name="startDate" value=""/></div></div>
            
            <div class="row"><div class="col-sm-3">Check Out:</div>
            <div class="col-sm-6"><input type="text" id="endDate" class="dateTime" name="endDate" value=""/></div></div>
            
            <div class="row"><div class="col-sm-3"># Adults: </div>
            <div class="col-sm-6"><input type="number" id="adults" name="adults" value="2" min="1" max="5"/></div></div>
            </form>
            </div>
            
          </div>
          <div class="modal-footer">
            <button type="button" id="getExpediaHash" class="btn btn-primary" data-dismiss="modal">Search</button>
          </div>
        </div>
      </div>
    </div>
            
</div>

{% endblock %}
